.footerBlock {

    @media (max-width: 860px) {
        background-color: black;
        margin-top: 50px;

    }

}

.textFooterList {
    @media (max-width: 860px) {
        color: white;

    }
}

.containerFooter {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 150px;
    margin-left: 50px;
    margin-right: 50px;

    @media (max-width: 1000px) {
        gap: 100px;

    }

    @media (max-width: 860px) {
        flex-direction: column;
        gap: 50px;


    }
}

.emailLine {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (max-width: 860px) {
        color: white;
        border-bottom: 1px solid white;

    }
}

.sendText {
    margin: 0;

    @media (max-width: 860px) {
        color: white;

    }
}

.sendIcon {
    display: block;
    text-align: right;
    cursor: pointer;
}

.socialIcon {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    width: 20px;

    @media (max-width: 860px) {
        color: white;
    }

}

.socialIcon:hover {
    border: 1px solid black;
    cursor: pointer;
}


.lineFooter {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;

    @media (max-width:860px) {
        color: white;
    }
}

.blockFooter {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

    @media (max-width:860px) {
        color: white;
        margin-right: 10px;
        margin-left: 15px;
    }
}

/* .textFooter {
    display: none;
} */