.container {
    width: 1300px;
}

.headerContact {
    background-image: url('../images/heroBg/notebook-1130742_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blockMapContainer {
    display: flex;

    @media (max-width: 840px) {
        flex-direction: column;
    }

}

.mapBlock {
    margin-top: 90px;
    margin-left: 90px;

    @media (max-width: 840px) {
        margin-left: 40px;
        margin-top: 40px;
    }

}

.blockWithContact {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 200px;

    @media (max-width:1150px) {
        margin-left: 50px;
        margin-top: 40px;
    }
}

.mapContact {
    position: relative;
    height: 400px;
    width: 600px;

    @media (max-width: 840px) {
        height: 200px;
        width: 400px;
    }

    @media (max-width: 500px) {
        height: 200px;
        width: 250px;
    }

    @media (max-width: 350px) {
        display: none;
    }
}

.lineForm {
    display: inline-block;
    width: 20px;
    background-color: white;
    height: 1px;
    margin-right: 5px;


}

.form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-left: 50px;

}

.titleForm {
    display: flex;
    align-items: center;
    color: white;
}

.containerForm {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;

    margin-top: -100px;

    @media (max-width: 750px) {
        margin-top: 20px;
        margin-left: 10px;
    }

    @media (max-width: 590px) {
        display: none;
    }
}

.textContact {
    margin: 0;
    margin-bottom: 5px;

    @media (max-width: 1000px) {
        font-size: 10px;
    }
}

.textForm {
    color: white;
}

.commentForm {
    color: white;
    margin-bottom: 100px;
}

.formInput {
    background-color: transparent;
    color: white;
    width: 500px;
    border-bottom: none;
    border-left: none;
    padding-top: 30px;
    padding-bottom: 9px;
    border: none;
    margin-right: 10px;
}

.formInput:last-child {
    border-bottom: 1px solid gray;
}



.btnForm {
    margin: 0;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    cursor: pointer;
    background-color: rgba(215, 146, 107, 1);
    box-shadow: 0 0 0 7px rgba(215, 146, 107, 1);
    width: 200px;
    height: 55px;
    color: white;

}

.titleSendMessege {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;

    @media (max-width: 1000px) {
        font-size: 15px;
    }
}

.lineContact {
    width: 35px;
    margin-right: 5px;
    background-color: #D7926B;
    height: 1px;
    display: inline-block;
    margin-bottom: 5px;
}

.textContactUs {
    margin: 0;
    margin-bottom: 10px;
    color: #D7926B;

    @media (max-width: 1000px) {
        font-size: 10px;
    }
}